absl-py==0.7.1
astor==0.7.1
Click==7.0
Flask==1.0.2
Flask-WTF==0.14.2
gast==0.2.2
gevent==1.4.0
greenlet==0.4.15
grpcio==1.20.1
gunicorn==19.9.0
h5py==2.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1
MarkupSafe==1.1.1
mock==2.0.0
numpy==1.16.3
pbr==5.2.0
Pillow==6.2.0
protobuf==3.7.1
scikit-learn==0.19.1
scipy==1.2.1
six==1.12.0
tensorboard==1.13.1
tensorflow==2.3.1
tensorflow-estimator==1.13.0
tensorflow-serving-api==1.13.0
termcolor==1.1.0
Werkzeug==0.15.3
WTForms==2.2.1
WTForms-JSON==0.3.3
