{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}
{% block content %}
<form method="post" action="/search/image/" enctype="multipart/form-data">
  <dl>
    {{ render_field(form.image) }}
    {{ render_field(form.rows) }}
    {{ render_field(form.format) }}
  </dl>
  <p><input type="submit" value="Submit">
</form>
<div>
	{% for result in results %}
	<img src="{{ url_for('static', filename=result.image_url) }}">
	<ul>
		<li>Distance: {{ result.distance }}</li>
		<li>Item ID: {{ result.item_id }}</li>
	</ul>
	{% endfor %}
</div>
{% endblock %}